
html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 100px;
}
body {
   
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
}
div a {
    text-decoration: none;
    color:white;
    transition: color 1s;
}
div.first {

    position:relative;
    background-color: #B5B0C9;
    margin: 0;
    text-align: center;
    overflow: hidden;
    height:950px;

}
div.second {
    position: relative;
    background-color: #3E66A3;
    height: 850px;
    overflow: hidden;
    scroll-margin-bottom: 10em;
}
div.third {
    position:relative;
    background-color: #B5B0C9;
    height: 850px;
    overflow: hidden;

}
div.abox {
    background-color: #B5B0C9;
    position: relative;
    top:1em;
    height:600px;
    width: 1400px;
    left: 150px;
    
}
div.abox2 {
    background-color: #3E66A3;
    position: relative;
    top:1em;
    height:600px;
    width: 1600px;
    left: 150px;
    
}
div.container {
    overflow-y: auto;
    scroll-behavior: smooth;
}
ul {
    list-style-type: None;
}
ul.top_bar {
     background-color: #222229;
     width: 100%;
     position: fixed;
     margin:0; 
     padding:0; 
     z-index: 1;
    opacity: 100%;
}
li {
    float:right;
}
li a {
    font-family: 'Wix Madefor Display', sans-serif;
    display:block;
    color:white;
    text-align:center;
    padding: 40px;
    text-decoration: none;
    list-style-type: none;
    transition: background-color 1s;
}
li a:hover {
    background-color:#3E66A3;
}
div.name span{
    position: relative;
    top: 5em;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size:4em;
    padding:0;
    margin:0;
    transition: color 1s;
    text-align: center;
    line-height: 0;
    width:fit-content;
    
}
div.name span:hover {
    color:#3E66A3;
}
div.subtitle {
    position: relative;
    top: 10em;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    font-size:30px;
    color:black;
    transition: color 1s;
}
div.subtitle:hover {
    color:#3E66A3;
}
h1.title1 {
    font-family: 'Wix Madefor Display', sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 1em;
    transition: color 1s;
    font-size: 60px;

}
h1.title1:hover {
    color:#B5B0C9;
}
h1.title2 {
    font-family: 'Wix Madefor Display', sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 1em;
    transition: color 1s;
    font-size: 60px;

}
h1.title2:hover {
    color:#3E66A3;
}

div.ap1 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:60px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap1:hover {
    color:white;
}
div.ap2 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:90px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap2:hover {
    color:white;
}
div.ap3 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 120px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap3:hover {
    color:white;
}
div.ap4 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 50px;
    left:2em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap4:hover {
    color:white;
}
div.BYOW {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:7em;
    left:10em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.BYOW a:hover {
    color: black;
}
div.scheme {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:5em;
    left:40em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.scheme a:hover {
    color:black;
}
div.snake {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 12em;
    left:10em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.snake a:hover {
    color:black;
}
div.twenty_forty-eight {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:10em;
    left:40em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.twenty_forty-eight a:hover {
    color:black;
}
img.me {
    position: relative;
    bottom: 340px;
    left: 100px;
    border-radius: 50%;
}
img.paper {
    position:relative;
    height: 22px;
    width: 25px;
}
img.robot {
    position: relative;
    left: 69em;
    bottom: 7em;
    border-radius: 50%;
}
img.sleep {
    position: relative;
    top: -22em;
    left: 65em;
    border-radius: 50%;
}
img.mochi {
    position: relative;
    bottom: 37em;
    left: 44em;
    border-radius: 50%;
}
iframe.by0w {
    position: relative;
    bottom: 7em;
    right: 24em;
}
iframe.interpreter {
    position: relative;
    bottom: 7em;
    left: 10em;
}
img.snake {
    position:relative;
    top: 8em;
    border-radius: 50%;
    right:11em;
}
img.twenty_forty-eight {
    position: relative;
    top: 8em;
    left: 48em; 
    border-radius: 10%;
}
#home {
}
#about{
}
#projects{
}
