html:focus-within {
    scroll-behavior: smooth;
    scroll-margin-top: 99px;

}
body {
    scroll-behavior: smooth;
    width: 1920px;
    margin: 0 auto;
}
div a {
    text-decoration: none;
    color:white;
    transition: color 1s;
}
div.first {
    position:relative;
    background-color: #B5B0C9;
    margin: 0;
    height: 100%;
    text-align: center;
    z-index: 3;
    

}
div.second {
    position: relative;
    background-color: #3E66A3;
    height: 90%;
    top: 631px;
    scroll-margin-top: 99px;
    z-index: 3;
}
div.third {
    position:relative;
    background-color: #B5B0C9;
    height: 91%;
    top: 574px;
    scroll-margin-top: 85px;
    z-index: 3;
}
div.abox {
    background-color: #B5B0C9;
    position: relative;
    top:1em;
    height:600px;
    width: 1400px;
    left: 150px;
    z-index: 3;
}
div.abox2 {
    background-color: #3E66A3;
    position: relative;
    top:4em;
    height:600px;
    width: 1600px;
    left: 150px;
    z-index: 3;
}
ul {
    list-style-type: None;

}
ul.top_bar {
     background-color: #222229;
     width: 100%;
     position: fixed;
     margin:0; 
     padding:0; 
     z-index: 500;
}
li {
    float:right;
}
li a {
    font-family: 'Wix Madefor Display', sans-serif;
    display:block;
    color:white;
    text-align:center;
    padding: 40px;
    text-decoration: none;
    list-style-type: none;
    transition: background-color 1s;
}
li a:hover {
    background-color:#3E66A3;
}
div.name span{
    position: relative;
    top: 4em;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size:4em;
    padding:0;
    margin:0;
    transition: color 1s;
    text-align: center;
    line-height: 0;
    width:fit-content;
    
}
div.name span:hover {
    color:#3E66A3;
}
div.subtitle {
    position: relative;
    top: 15em;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    padding:0;
    margin:0;
    font-size:8px;
    color:black;
    transition: color 1s;
}
div.subtitle span:hover {
    color:#3E66A3;
}
h1.title1 {
    font-family: 'Wix Madefor Display', sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 1em;
    transition: color 1s;
    font-size: 60px;

}
h1.title1:hover {
    color:#B5B0C9;
}
h1.title2 {
    font-family: 'Wix Madefor Display', sans-serif;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 1em;
    transition: color 1s;
    font-size: 60px;

}
h1.title2:hover {
    color:#3E66A3;
}

div.ap1 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:60px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap1:hover {
    color:white;
}
div.ap2 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:90px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap2:hover {
    color:white;
}
div.ap3 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 120px;
    left:20em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap3:hover {
    color:white;
}
div.ap4 {
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 50px;
    left:2em;
    color:black;
    width: fit-content; 
    transition: color 1s;
}
div.ap4:hover {
    color:white;
}
div.wrapper {
    position: relative;
}
div.BYOW {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:7em;
    left:10em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.BYOW a:hover {
    color: black;
}
div.scheme {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:5em;
    left:40em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.scheme a:hover {
    color:black;
}
div.snake {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top: 12em;
    left:10em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.snake a:hover {
    color:black;
}
div.twenty_forty-eight {
    display: block;
    position:relative;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 25px;
    top:10em;
    left:40em;
    color:white;
    width: fit-content; 
    transition: color 1s;
}
div.twenty_forty-eight a:hover {
    color:black;
}
img.me {
    position: relative;
    z-index: 10;
    bottom: 340px;
    right:150px;
    border-radius: 50%;
}
img.snake {
    position:relative;
    top: 160px;
    left: -570px;
    border-radius: 50%;
}
img.twenty_forty-eight {
    position: relative;
    top:160px;
    left: 390px;
    border-radius: 10%;
}
img.paper {
    position:relative;
    height: 22px;
    width: 25px;
}
img.robot {
    position: relative;
    left: 54em;
    bottom: 7em;
    border-radius: 50%;
}
img.sleep {
    position: relative;
    top: -22em;
    left: 50em;
    border-radius: 50%;
}
img.mochi {
    position: relative;
    bottom: 37em;
    left: 28em;
    border-radius: 50%;
}
iframe.by0w {
    position: relative;
    left: -770px;
    bottom: 100px;
}
iframe.interpreter {
    position: relative;
    left: -230px;
    bottom: 100px;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width:1920px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    min-width: 1920px;
}
#home {
}
#about{
}
#projects{
}
